[Desktop Entry]
Name=Vidz
GenericName=Movie Library
X-GNOME-FullName=Vidz Movie Library
Comment=A simple, but yet powerful movie library
Keywords=Video;Movie;Library;
Exec=vidz
Icon=vidz
StartupNotify=true
Terminal=false
Type=Application
Categories=AudioVideo;Player;Video;
Version=0.1
